.sidebar {
    background-color: yellow;
    border: 2px solid gray;
    grid-area: sidebar;
    font-size: 25px;
}

a {
    color: green;
    text-decoration: none;

}

.active {
    color: red;
}

img {
    width: 25px;
}

.friends {
    padding-top: 10px;
    font-size: 15px;
    color: purple;
    display: flex;
    align-items: flex-end;
    justify-content: center;
}

