* {
  margin: 0;
  padding: 0;
}

.container {
  margin: 0 auto;
  display: grid;
  grid-template-areas: 
  'header header'
  'sidebar body'
  'footer footer';
  grid-gap: 20px;
  grid-template-rows: 80px 1fr 80px;
  grid-template-columns: 150px 10fr;
  width: 1200px;
}

.content_container {
    background-color: green;
    border: 2px solid black;
    grid-area: body;
}




